<nav id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Admin', root_url, class: 'navbar-brand' %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
       <!--  <%if @sub_uri == ""%>
        <li><a href="/admin/listPorts" class="active">Manage Areas of Interests</a><li>
          <% elsif %>
          <li><a href="/<%= @sub_uri %>/admin/listPorts" class="active">Manage Areas of Interests</a><li>
        <% end %> -->

        <li><%= link_to "Manage Areas of Interest", list_ports_path, :class=> "active" %><li>
        <!-- <li><a>Manage Flights</a><li> -->
        <li><a href="/">View Site</a><li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a>Log out</a><li>
      </ul> -->
    </div><!--/.nav-collapse -->
  </div>
</nav>