<div class="row">
	<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-1 well-light">
		<div class="col-md-6">
			<div class="form-group">
				<label>Heading Name</label>
				<input id="last-conf-field" class="form-control" type="text" placeholder="What are you looking for?" required></input>
			</div>
			<ul>
				<li>
					<button type="button" class="btn btn-default btn-block syn-btn">
						<span class="glyphicon glyphicon-plus"></span> Add Synonym
					</button>
				</li>
			</ul>
			
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>Type</label>
				<select class="form-control">
					<option selected style="display:none;">What kind of data is it?</option>
					<option value="text">Text</option>
					<option value="number">Number</option>
					<option value="date">Date</option>
					<option value="time">Time</option>
					<option value="place">Place</option>
				</select>
			</div>
		</div>
		<!-- <div class="col-md-4">
			<div class="form-group">
				<label>Example/Format</label>
				<input class="form-control" type="text" placeholder="What does it look like?" disabled></input>
			</div>
		</div> -->
	</div>
</div>