<div class="row">
	<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-1 well-light">
		<div class="col-md-6">
			<div class="form-group">
				<%= label_tag(:label_heading, "Heading Name") %>
				<%= text_field_tag(:heading, "", :name => "heading[]", :id => "last-conf-field", :class => "form-control") %>
			</div>
			<ul>
				<li>
					<button type="button" class="btn btn-default btn-block syn-btn">
						<span class="glyphicon glyphicon-plus"></span> Add Synonym
					</button>
				</li>
			</ul>
			
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<%= label_tag(:label_type, "Type") %>
				<%= select_tag(:type, options_for_select(
					[
						['What kind of data is it?', '', { 'style' => 'display: none'}],
						['Text', 'text'],
						['Number', 'number'],
						['Date', 'date'],
						['Time', 'time'],
						['Place', 'place']
					], 
					''
				), 
				 :class => 'form-control',
				 :name => 'type[]'
				) %>
			</div>
		</div>
		<!-- <div class="col-md-4">
			<div class="form-group">
				<label>Example/Format</label>
				<input class="form-control" type="text" placeholder="What does it look like?" disabled></input>
			</div>
		</div> -->
	</div>
</div>
