<div id="origin-name-container" class="panel-sub ui-container">
	<div class="row">
		<div style="float:left; padding-left:12px; width:34px;">
			<div style="width:22px; height:22px">
				<img class="img-responsive" src="<%= asset_path("icon_origin.png") %>">
			</div>
		</div>
		
		<div style="margin-left:34px; padding-right:20px">
			<input id="origin-text" class="blend" type="text" value="" placeholder="Set Origin, click on a marker" spellcheck="false">
		</div>
	</div>
</div>
<div id="destination-name-container" class="panel-sub ui-container">
	<div class="row">
		<div style="float:left; padding-left:12px; width:34px;">
			<div style="width:22px; height:22px">
				<img class="img-responsive" src="<%= asset_path("icon_destination.png") %>">
			</div>
		</div>
		<div style="margin-left:34px; padding-right:20px">
			<input id="destination-text" class="blend" type="text" value="" placeholder="Set Destination, click on a marker" spellcheck="false">
		</div>
	</div>
</div>

<div id="routes-container" class="ui-container">
	<div id="routes-info">
		<div class="section-title">
			Suggested Routes
		</div>
		<div class="scroll-container">
		</div>
	</div>
</div>

<div id="routes-options-container" class="ui-container">
	<div id="routes-options">
		<div class="section-title">
			Route Options <span class="glyphicon glyphicon-remove" style="padding-top:2px;float:right;" aria-hidden="true"></span>
		</div>
		<div class="scroll-container">
		</div>
	</div>
</div>
<!-- 
<div class="small-desc">
				<table class="route-table">
					<tr>
						<td>Departure Time:</td>
						<td align="right">{{departure}}</td>
					</tr>
					<tr>
						<td>Arrival Time:</td>
						<td align="right">{{arrival}}</td>
					</tr>
				</table>
			</div> -->

<script id="routes-info-template" type="text/x-handlebars-template">
	{{#each routeList}}
	  <div id="route-{{id}}" class="route-info panel-sub" data-id="{{@index}}" data-rid="{{id}}">
			<div class="bold">
				{{name}}
			</div>
			<div class="route-visualization">
			</div>
		</div>
  {{/each}}
</script>

<script id="routes-options-template" type="text/x-handlebars-template">
	{{#each routeList}}
	  <div class="panel-sub">
			<div class="bold">
				{{route_id}}
			</div>
			<div class="small-desc">
				<table class="route-table">
					<tr>
						<td>Departure Time:</td>
						<td align="right">{{format_time departure_time}}</td>
					</tr>
					<tr>
						<td>Arrival Time:</td>
						<td align="right">{{format_time arrival_time}}</td>
					</tr>
					<tr>
						<td>Frequency:</td>
						<td align="right">{{get_days days}}</td>
					</tr>
				</table>
			</div>
		</div>
  {{/each}}
</script>

<script id="no-routes-template" type="text/x-handlebars-template">
	<div id="no-route-available" class="panel-sub">
		<p>
			No suggested routes
		</p>
	</div>
</script>