var templates = {};
var mapDisplay;
var train_id = 4; 

// helper methods
function computeLatitude(port) {
	return (parseFloat(port.lat_deg) + parseFloat(port.lat_min)/60 + parseFloat(port.lat_sec)/3600);
}

function computeLongitude(port) {
	return (parseFloat(port.lon_deg) + parseFloat(port.lon_min)/60 + parseFloat(port.lon_sec)/3600);
}

function getLatLng(port) {
	var lat = computeLatitude(port);
	var lon = computeLongitude(port);
	var latlng = new google.maps.LatLng(lat, lon);
	return latlng;
}

function compileTemplates() {
	Handlebars.registerHelper('breaklines', function(text) {
	    text = Handlebars.Utils.escapeExpression(text);
	    text = text.replace(/(\r\n|\n|\r)/gm, '<br>');
	    return new Handlebars.SafeString(text);
	});

	Handlebars.registerHelper('format_time', function(text) {
	    return text.substring(text.indexOf("T") + 1, text.indexOf("T") + 9);
	});

	Handlebars.registerHelper('get_days', function(days) {
			if(days == 127)
				return "Daily";
			var str = "";
			if (((1<<6) & days) > 0)
				str += "Mo | ";
			if (((1<<5) & days) > 0)
				str += "Tu | ";
			if (((1<<4) & days) > 0)
				str += "We | ";
			if (((1<<3) & days) > 0)
				str += "Th | ";
			if (((1<<2) & days) > 0)
				str += "Fr | ";
			if (((1<<1) & days) > 0)
				str += "Sa | ";
			if (((1<<0) & days) > 0)
				str += "Su | ";

			if(str.length > 0)
				return str.substring(0, str.length - 3);
	});

	var source   = $("#carousel-inner-template").html();
	templates["carousel-inner"] = Handlebars.compile(source);

	source   = $("#additional-info-template").html();
	templates["additional-info"] = Handlebars.compile(source);

	source   = $("#info-window-template").html();
	templates["info-window"] = Handlebars.compile(source);

	source   = $("#routes-info-template").html();
	templates["routes-info"] = Handlebars.compile(source);

	source   = $("#routes-options-template").html();
	templates["routes-options"] = Handlebars.compile(source);

	source   = $("#no-routes-template").html();
	templates["no-routes"] = Handlebars.compile(source);
}

// mapUI
var MapUI = (function() {
	function MapUI(ports, images, infos) {
		this.ports = ports;
		this.images = images;
		this.infos = infos;
		this.activePort = null;
		this.uiView = "details";
		this.mapDisplay = null;
		this.mapState = "none";
		this.currentRouteList = null;
		this.activeRoute = -1;
		this.visualizations = null;

		this.originPort = null;
		this.destinationPort = null;

		$("#view-routes").click((function(_this) {
			return function(e) {
				_this.setOriginPort(null);
				_this.setDestinationPort(_this.activePort);
				_this.switchView();
				_this.mapState = "origin";
			}
		})(this));

		$("#origin-text").click((function(_this) {
			return function(e) {
				this.select();
				_this.mapState = "origin";
			}
		})(this));

		$("#destination-text").click((function(_this) {
			return function(e) {
				this.select();
				_this.mapState = "destination";
			}
		})(this));
	}

	MapUI.prototype.setOriginPort = function(origin) {
		this.originPort = origin;
		if(origin == null)
			$("#origin-text").val("");
		else
			$("#origin-text").val(this.originPort.name);
		if(origin != null)
			this.setActivePort(origin.id);

		$("#routes-options-container").slideUp(400, function(c) {
			$("#routes-options .scroll-container").html("");
		});

		this.getRoute();
	}

	MapUI.prototype.setDestinationPort = function(destination) {
		this.destinationPort = destination;
		if(destination == null)
			$("#destination-text").val("");
		else
			$("#destination-text").val(this.destinationPort.name);
		if(destination != null)
			this.setActivePort(destination.id);

		$("#routes-options-container").slideUp(400, function(c) {
			$("#routes-options .scroll-container").html("");
		});

		this.getRoute();
	}

	MapUI.prototype.getRoute = function() {
		if(this.destinationPort == null || this.originPort == null) {
			$("#routes-container").slideUp();
			return;
		}

		$.ajax({
      type: "POST",
      url: get_routes,
      data: { origin_id: this.originPort.id, destination_id: this.destinationPort.id },
      success: (function(_this){
				return function(data) {
	        console.log(data);
	        _this.currentRouteList = data.data;
	        _this.showRoute(data.data);
					// _this.mapDisplay.showRoute(data.data.routeList[0]);
	        return false;
	      }
			})(this),
      error: function(data) {
      	return false;
      }
    })

		// this.showRoute(routeData);
		// this.mapDisplay.showRoute(routeData);
	}

	MapUI.prototype.showRoute = function(data) {
		$("#routes-container").slideDown();
		$("#routes-info > .scroll-container").html("");
		this.activeRoute = -1;

	  var string = templates["routes-info"](data);
	  $("#routes-info > .scroll-container").html(string);

	  this.visualizations = {};
		for(var i = 0; i < data.routeList.length; i++) {
			this.visualizations[data.routeList[i].id] = this.createRouteVisualization("#route-"+ data.routeList[i].id +" .route-visualization", data.routeList[i]);
		}

	  $(".route-info").click((function(_this) {
	  	return function(e) {
	  		if(_this.activeRoute == $(this).data("rid")) {
	  			return;
	  		}

	  		_this.activeRoute = $(this).data("rid");
	  		_this.mapDisplay.showRoute(_this.currentRouteList.routeList[$(this).data("id")]);

	  		for(var i = 0; i < _this.currentRouteList.routeList.length; i++) {
					if(_this.currentRouteList.routeList[i].id == $(this).data("rid")) {
						$("#route-"+_this.currentRouteList.routeList[i].id).slideDown();
					}
					else {
						$("#route-"+_this.currentRouteList.routeList[i].id).slideUp();
					}
				}
	  		// _this.showRouteOptions($(this).data("rid"), 0);

				// var lines = _this.visualizations[$(this).data("rid")].lines;

				// lines.each(function(d, i) {
				// 	if(i == 0) {
				// 		d.active = true;
				// 		$(this).attr("stroke", "#F16521");
				// 	}
				// 	else {
				// 		d.active = false;
				// 		$(this).attr("stroke", "#444444");
				// 	}
				// })
			}
	  })(this));

		if(data.routeList.length == 0) {
			string = templates["no-routes"](data);
	  	$("#routes-info > .scroll-container").html(string);
		}

		// this.createRouteVisualization("#route-1 .route-visualization", [this.ports[115], this.ports[142]]);
		// this.createRouteVisualization("#route-2 .route-visualization", [this.ports[115], this.ports[174], this.ports[142]]);
		// this.mapDisplay.showRoute([this.ports[115], this.ports[174], this.ports[142]]);
	}

	MapUI.prototype.showRouteOptions = function(routeListId, routeIndex) {
		for(var i = 0; i < this.currentRouteList.routeList.length; i++) {
			console.log(this.currentRouteList.routeList[i].id)
			if(this.currentRouteList.routeList[i].id == routeListId) {
				// $("#route-options").remove();
				// $("#route-"+routeListId).after("<div id=\"route-options\"></div>");
				
				var tempData = {}
				tempData.routeList = this.currentRouteList.routeList[i].routes[routeIndex];

				var string = templates["routes-options"](tempData);
				// string = "<div class=\"panel-sub\"><div class=\"bold\">Options</div>" + string +"</div>"; 
				// $("#route-options").html(string);


				$("#routes-options .scroll-container").html(string);
				$("#routes-options-container").slideDown();
			}
			else {
				$("#route-"+this.currentRouteList.routeList[i].id).slideUp();
			}
		}
	}

	MapUI.prototype.showAllRoutes = function() {
		for(var i = 0; i < this.currentRouteList.routeList.length; i++) {
			$("#route-"+this.currentRouteList.routeList[i].id).slideDown();

			this.visualizations[this.currentRouteList.routeList[i].id].lines
				.each(function(d, i) {
					d.active = false;
					$(this).attr("stroke", "#444444");
				})
		}

	}

	MapUI.prototype.setMapDisplay = function(mapDisplay) {
		this.mapDisplay = mapDisplay;
	}

	MapUI.prototype.setActivePort = function(id) {
		var index = this.getPortIndexViaId(id);
		var port = this.ports[index];
		var imageList = this.images[index];
		var infoList = this.infos[index];

		this.activePort = port;

		$("#init-instructions").hide();

		if($("#panel-title").html() == "Instructions") 
			$("#panel-title").html("Details");

	  // $("#panel-title").html(port.name);
	  $("#name-container .bold").html(port.name);
	  $("#name-container #description.small-desc").html(port.description.replace(/(?:\r\n|\r|\n)/g, '<br />'));

	  // if(port.category_id == 2)
	  	$("#view-routes").show();
	  // else
	  // 	$("#view-routes").hide();
	  
	  // prep image carousel
	  if(imageList.length > 0) {
	  	var data = {};
	  	data.imageList = imageList;

	  	var string = templates["carousel-inner"](data);
	  	$("#images-container .carousel-inner").html(string);

	  	$("#images-container").slideDown(400);
	  	$(".navigation").each(function() {
				$(this).fadeIn(400);
			});

			
			$('#images-container').carousel();

			$(".item.port-image img").each(function(e) {
				var parent = $(this).parent();
				$("<img/>")
			    .attr("src", $(this).attr("src"))
			    .load((function(_this) {
			    	return function() {
			        var pic_real_width = this.width; 
			        var pic_real_height = this.height;
			        if(pic_real_width/parent.width() > pic_real_height/parent.height()) {
				        $(_this).css("max-height", "100%")
				        $(_this).css("max-width", "none")
			        }
				    }
			    })(this));

			});
	  }
	  else {
	  	$(".navigation").each(function() {
				$(this).fadeOut(400);
			})
	  	$("#images-container").slideUp(400);
	  	$("#images-container .carousel-inner").html();
	  }

	  // prep additional info box
	  if(infoList.length > 0) {
	  	var data = {};
	  	data.infoList = infoList;

	  	var string = templates["additional-info"](data);
	  	$("#info-container .scroll-container").html(string);

	  	$("#info-container").slideDown(400);
	  }
	  else {
	  	$("#info-container").slideUp(400);
	  	$("#info-container .scroll-container").html("");
	  }
	}

	MapUI.prototype.getPortIndexViaId = function(id) {
		for(var i = 0; i < this.ports.length; i++) {
			if(this.ports[i].id == id) {
				return i;
			}
		}
	}

	MapUI.prototype.getPortViaId = function(id) {
		for(var i = 0; i < this.ports.length; i++) {
			if(this.ports[i].id == id) {
				return this.ports[i];
			}
		}
	}

	MapUI.prototype.switchView = function(spec) {
		$("#init-instructions").hide();
		if(spec == null) {
			if(this.uiView == "flights") {
				$("#port-details").slideDown();
				$("#routes-display").slideUp(400, function(d) {
					$("#routes-info .scroll-container").html("");
				});
				$("#routes-options-container").slideUp(400, function(c) {
					$("#routes-options .scroll-container").html("");
				});
				$("#panel-title").html("Details");
				this.mapState = "none";
				this.mapDisplay.removePath();
				this.uiView = "details";
			}
			else {
				$("#routes-display").slideDown();
				$("#port-details").slideUp();
				$("#panel-title").html("Routes <span class=\"glyphicon glyphicon-remove\" style=\"padding-top:2px;float:right;\" aria-hidden=\"true\"></span>");
				this.uiView = "flights";
			}
		}
		else {
			if(spec != this.uiView) {
				this.switchView();
			}
		}
	}

	MapUI.prototype.createRouteVisualization = function(selector, data) {
		// console.log(data);
		var div = $(selector);
		d3.select(selector).selectAll("*").remove();

		var width = div.width(),
			height = div.height();

		var vis = d3.select(selector)
				.append("svg")
				.attr("width", width)
				.attr("height", height)
				.attr("id", "svg_vis");

		// console.log(data);

		portPath = data.portPath

		// console.log(circles);
		var padding = 10;
		var interval = (width-padding*2)/(portPath.length-1);

		var lines = vis.selectAll("line")
			.data(data.routes);

		for(var i = 0; i < data.routes.length; i++) {
			data.routes[i].active = false;
		}

		var normalColor = "#444444";
		var highlightColor = "#F16521";

		lines
			.enter()
			.append("line")
			.attr("x1", function(d, i) {
				return padding + i*interval;
			})
			.attr("y1", height/2)
			.attr("x2", function(d, i) {
				return padding + (i+1)*interval;
			})
			.attr("y2", height/2)
			.attr("stroke-width", 4)
			.attr("stroke", function(d, i) {
				if(d.active == true)
					return highlightColor;
				return normalColor;
			})
			.on("click", (function(_this) {
				return function(d, i) {
					_this.showRouteOptions(data.id, i);

					lines.each(function(d) {
						d.active = false;
						$(this).attr("stroke", normalColor);
					})

					if(d.active == false) {
						$(this).attr("stroke", highlightColor);
						d.active = true;
					}
				}
			})(this))
			.on("mouseover", function(d, i) {
				if(d.active == false)
					$(this).attr("stroke", highlightColor);
			})
			.on("mouseout", function(d, i) {
				if(d.active == false)
					$(this).attr("stroke", normalColor);
			})

		var circles = vis.selectAll("circle")
			.data(portPath, function(d) {
					return d.id;
				});

		var tip = d3.tip()
		  .offset([-10, 0])
		  .html(function(d) {
		  	// trafficValue *= trafficValue;
		  	// Math.sqrt(((data[i][j]/2 * 25  ) + 5) / Math.PI ) * 7
		    return "<span>" + d.name + "</span>";
			})
			.attr("class", "d3-tip");

		circles
			.enter()
			.append("circle")
			.attr("r", 6)
			.attr("fill", function(d, i) {
					if (i == portPath.length-1)
						return normalColor;
					else
						return "#FFFFFF";
				})
			.attr("stroke-width", 4)
			.attr("stroke", normalColor)
			.attr("class", "airport-circle")
			.attr("cx", function(d, i) {
				return padding + i*interval;
			})
			.attr("cy", function(d, i) {
				return height/2;
			})
			.on('mouseover', (function(_this){
				return function(d, i) {
					tip.attr("class", "d3-tip");
					tip.show(d);
					$(this).attr("fill", "#F16521");
				}
			})(this))
	    .on('mouseout', (function(_this){
				return function(d, i) {
					tip.hide(d);
					if (i == portPath.length-1)
						$(this).attr("fill", normalColor);
					else
						$(this).attr("fill", "#FFFFFF");
				}
			})(this))
			.on('click', (function(_this) {
				return function(d) {
					var id = d.id;
					_this.mapDisplay.panToMarker(id);
					var port = _this.getPortViaId(id);
					console.log(port.category_id);
				}
			})(this))

		vis.call(tip);

		return {"lines":lines, "circles":circles};
	}

	return MapUI;
})();


// map display
var MapDisplay = (function() {
	function MapDisplay(ports, mapUI) {
	  this.ports = ports;
	  this.mapUI = mapUI;
	  this.currentPath = null;

		var mapOptions = {
	    center: { lat: 13, lng: 118},
	    zoom: 6,
    	zoomControl: true,
    	zoomControlOptions: {
    		// style: google.maps.ZoomControlStyle.SMALL,
	        position: google.maps.ControlPosition.RIGHT_BOTTOM
	    },
	    disableDefaultUI: true
	  };

	  this.map = new google.maps.Map(document.getElementById('map'), mapOptions);
	  this.portMarkers = [];
	  this.infowindow = new google.maps.InfoWindow({
	      content: ""
	  });
	  this.cat_vis = {};

	  for(var i = 0; i < categories.length; i++) {
	  	this.cat_vis[categories[i].id] = true;
	  }

	  for(var i = 0; i < this.ports.length; i++) {
	  	var pinIcon = new google.maps.MarkerImage(
		    categoryMarkers[this.ports[i].category_id],
		    null, /* size is determined at runtime */
		    null, /* origin is 0,0 */
		    null, /* anchor is bottom center of the scaled image */
		    new google.maps.Size(28, 46)
			);  

	  	// var iconImage = {
		  // 	url: categoryMarkers[ports[i].category_id]
		  // 	// anchor: new google.maps.Point(16,16)
		  // }

	  	var marker = new google.maps.Marker({
			  map: this.map,
			  position: getLatLng(this.ports[i]),
			  title: this.ports[i].name,
			  icon: pinIcon,//categoryMarkers[this.ports[i].category_id],//iconImage,
			  data_category: this.ports[i].category_id,
			  data_hidden: false,
			  data_id: this.ports[i].id,
			  index: i,
		    optimized: false,
			  opacity:1
			})

	  	this.portMarkers.push(marker);

			google.maps.event.addListener(marker, 'click', (function(_marker, _this) {
				return function() {
			    _this.mapUI.setActivePort(_marker.data_id);
			    _this.map.panTo(_marker.position);

			    if(_this.mapUI.mapState == "origin") {
			    	_this.mapUI.setOriginPort(_this.ports[_marker.index]);
			    }
			    if(_this.mapUI.mapState == "destination") {
			    	_this.mapUI.setDestinationPort(_this.ports[_marker.index]);
			    }

			    var string = templates["info-window"](_this.ports[_marker.index]);
			    _this.infowindow.setContent(string);
			    _this.infowindow.open(_this.map, _marker);
			  }
			})(marker, this));
	  }
	  // mapUI.setActivePort(233);
	}

	MapDisplay.prototype.panToMarker = function(id) {
		for(var i = 0; i < this.portMarkers.length; i++) {
			if(this.portMarkers[i].data_id == id) {
				this.map.panTo(this.portMarkers[i].position);
				this.portMarkers[i].setMap(this.map);

				var string = templates["info-window"](this.ports[i]);
			  this.infowindow.setContent(string);
			  this.infowindow.open(this.map, this.portMarkers[i]);

				this.mapUI.setActivePort(id);
			}
		}
	}

	MapDisplay.prototype.toggleLayer = function(id) {
		if(this.cat_vis[id] == true) {
			this.hideLayer(id);
			if(id == train_id){
				this.hideLayer(train_id+1);
			}
			return false;
		}
		else {
			this.showLayer(id);
			if(id == train_id){
				this.showLayer(train_id+1);
			}
			return true;
		}
	}

	MapDisplay.prototype.hideLayer = function(id) {
		if(this.cat_vis[i] == false)
			return;
		this.cat_vis[id] = false;
		for(var i = 0; i < this.portMarkers.length; i++) {
			if(this.portMarkers[i].data_category == id) {
				if(this.portMarkers[i].data_hidden == false)
					this.portMarkers[i].setMap(null);
				this.portMarkers[i].data_hidden = true;
			}
		}

		$(".filter-image[data-category="+id+"]").toggleClass("gray", true);
	}

	MapDisplay.prototype.hideAllLayers = function() {
		for (var key in this.cat_vis) {
		  this.hideLayer(key);
		}
	}

	MapDisplay.prototype.showAllLayers = function() {
		for (var key in this.cat_vis) {
		  this.showLayer(key);
		}
	}

	MapDisplay.prototype.showLayer = function(id) {
		if(this.cat_vis[i] == true)
			return;
		this.cat_vis[id] = true;
		for(var i = 0; i < this.portMarkers.length; i++) {
			if(this.portMarkers[i].data_category == id) {
				if(this.portMarkers[i].data_hidden == true)
					this.portMarkers[i].setMap(this.map);
				this.portMarkers[i].data_hidden = false;
			}
		}


		$(".filter-image[data-category="+id+"]").toggleClass("gray", false);
	}

	MapDisplay.prototype.showPoi = function(id) {
		for(var i = 0; i < this.portMarkers.length; i++) {
			if(this.portMarkers[i].data_id == id) {
				if(this.portMarkers[i].data_hidden == true)
					this.portMarkers[i].setMap(this.map);
				this.portMarkers[i].data_hidden = false;
				return;
			}
		}
	}

	MapDisplay.prototype.focusPorts = function(portList) {
		this.hideAllLayers();
		for(var i = 0; i < portList.length; i++) {
			this.showPoi(portList[i].id);
		}
	}

	MapDisplay.prototype.removePath = function() {
		if(this.currentPath != null) {
			this.currentPath.flightPath.setMap(null);
			for(var i = 0; i < this.currentPath.poiCircles.length; i++) {
				this.currentPath.poiCircles[i].setMap(null);
			}
		}
	}

	MapDisplay.prototype.showRoute = function(routeData) {
		this.removePath();
		if(this.currentPath == null) {
			this.currentPath = {};
		}

		var path = routeData.portPath;

		var flightPathCoordinates = [];
		for(var i = 0; i < path.length; i++) {
			flightPathCoordinates.push(getLatLng(path[i]));
		}

		this.currentPath.flightPath = new google.maps.Polyline({
	    path: flightPathCoordinates,
	    geodesic: true,
	    strokeColor: '#F16521',
	    strokeOpacity: 1.0,
	    strokeWeight: 4,
	    map: this.map
	  });

		this.currentPath.poiCircles = [];
	  for (var i = 0; i < path.length; i++) {
	  	var color = '#FFFFFF';
	  	if(i == path.length-1) {
	  		color = '#F16521';
	  	}
	    var poiOptions = {
		    path: google.maps.SymbolPath.CIRCLE,
	      strokeColor: '#F16521',
		    strokeOpacity: 1,
	      strokeWeight: 2,
	      fillColor: color,
	      fillOpacity: 1,
		    scale: 5 //pixels
		  }

	    // Add the circle for this city to the map.
	    this.currentPath.poiCircles.push(new google.maps.Marker({
			  	position: getLatLng(path[i]),
			  	icon: poiOptions,
		      optimized: false,
		      zIndex: 1,
			  	map: this.map
				})
			);
	  }

	  this.focusPorts(path);
	}
	return MapDisplay;
})();

function initializeAutocomplete() {
	var substringMatcher = function(strs) {
	  return function findMatches(q, cb) {
	    var matches, substringRegex;
	 
	    // an array that will be populated with substring matches
	    matches = [];
	 
	    // regex used to determine if a string contains the substring `q`
	    substrRegex = new RegExp(q, 'i');
	 
	    // iterate through the pool of strings and for any string that
	    // contains the substring `q`, add it to the `matches` array
	    $.each(strs, function(i, port) {
	      if (substrRegex.test(port.name)) {
	        matches.push(port);
	      }
	    });
	 
	    cb(matches);
	  };
	};

	$('#origin-text').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'ports',
	  source: substringMatcher(ports),
	  display: function(data) {
	  	return data.name;
	  }
	});

	$('#origin-text').bind('typeahead:select', function(ev, suggestion) {
	  mapUI.setOriginPort(suggestion);
	});

	$('#destination-text').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 1
	},
	{
	  name: 'ports',
	  source: substringMatcher(ports),
	  display: function(data) {
	  	return data.name;
	  }
	});

	$('#destination-text').bind('typeahead:select', function(ev, suggestion) {
	  mapUI.setDestinationPort(suggestion);
	});
}

function portsViewScript() {
 var ports_table = $('#points').DataTable({
    "columnDefs": [
      {
          "targets": [ 0 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 5, 6 ],
          "searchable": false,
          "orderable": false
      }
    ]
  });

 	$(".delete-port").on("ajax:success", 
 		function(e, data, status, xhr) {
 			ports_table.row(function(index, _data) {
 				return (data["poi_id"] == _data[0])
 			}).remove().draw(false);

 			toastr.options = {
			  "positionClass": "toast-bottom-right"
			}
 			if(data["result"] == "ok")
 				toastr["success"](data["poi"].name + " was successfully deleted", "Deletion Successful");
 			else
 				toastr["error"]("Failed to delete " + data["poi"].name, "Deletion Failed");
 		}
 	).on("ajax:error",
 		function(e, xhr, status, error) {
			toastr.options = {
			  "positionClass": "toast-bottom-right"
			}
 			toastr["error"]("Failed to delete " + data["poi"].name, "Deletion Failed");
 		}
 	);
}



function editPortViewScript() {
	var source   = $("#additional-info-template").html();
	var form_template = Handlebars.compile(source);

	var errorCallback = function(e, xhr, status, error) {
		toastr["error"]("There is either connection issues or server issues", "Communication Error");
	};

	var editDetailCallback = function(e, data, status, xhr) {
		if(data["action"] == "delete") {
			toastr.options = {
		  "positionClass": "toast-bottom-right"
		}
		if(data["result"] == "ok") {
			toastr["success"](data["info"].name + " was successfully deleted", "Deletion Successful");
			$(e.target).parent().slideUp(500, function() {
				$(e.target).parent().remove();
			});
		}
		else
			toastr["error"]("Failed to delete " + data["info"].name, "Deletion Failed");
		}
		else {
			toastr.options = {
	  "positionClass": "toast-bottom-right"
		}
		if(data["result"] == "ok")
			toastr["success"]("Changes to " + data["info"].name + " were successfully saved", "Save Successful");
		else
			toastr["error"]("Failed to save changes to " + data["info"].name, "Save Failed");
		}
	}

	var createDetailCallback = function(e, data, status, xhr) {
		toastr.options = {
	  	"positionClass": "toast-bottom-right"
		}
		if(data["result"] == "ok") {
			toastr["success"](data["info"].name + " was successfully saved", "Save Successful");
			$(e.target).toggleClass("create-detail", false)
			$(e.target).toggleClass("edit-detail", false)
			$(e.target).attr("action", save_info_path);
			$(e.target).find("[name='details[id]']").val(data["info"].id);
			$(e.target).find("[name='commit']").val("Save Changes");
			$(e.target).find(".buttons").append("<input class=\"btn btn-default\" name=\"commit\" type=\"submit\" value=\"Delete\" onclick=\"return confirm('Delete info?')\" />");
			$(e.target).off("ajax:success");
			$(e.target).on("ajax:success", editDetailCallback);


			var string = form_template(port_data);
			$("#additional-info-list").append(string);
			$(".create-detail")
		 		.on("ajax:success", createDetailCallback)
		 		.on("ajax:error", errorCallback);
		}
		else
			toastr["error"]("Failed to save " + data["info"].name, "Save Failed");
	}

 	var editPortCallback = function(e, data, status, xhr) {
 		console.log(data);
		if(data["action"] == "delete") {
			toastr.options = { "positionClass": "toast-bottom-right" };

			if(data["result"] == "ok") {
				toastr["success"]("\"" + data["poi"].name + "\" was successfully deleted", "Deletion Successful");
			}
			else
				toastr["error"]("Failed to delete \"" + data["poi"].name + "\"", "Deletion Failed");
		}
		else if(data["action"] == "save"){
			toastr.options = { "positionClass": "toast-bottom-right" };

			if(data["result"] == "ok")
				toastr["success"]("Changes to \"" + data["poi"].name + "\" were successfully saved", "Save Successful");
			else
				toastr["error"]("Failed to save changes to \"" + data["poi"].name + "\"", "Save Failed");
		}
		else {
			toastr.options = { "positionClass": "toast-bottom-right" };

			if(data["result"] == "ok") {
				toastr["success"]("\"" + data["poi"].name + "\" was successfully saved", "Save Successful");
				$(e.target).find("[name='commit']").val("Save Changes");
				$(e.target).find("[name='poi[id]']").val(data["poi"].id);
				$("#additional-info-section").slideDown(500, function() {
					$("#additional-info-section").find("[name='details[poi_id]']").val(data["poi"].id);
				});
				port_data.id = data["poi"].id;
			}
			else
				toastr["error"]("Failed to save \"" + data["poi"].name + "\"", "Save Failed");
		}
	}

	$(".edit-detail")
 		.on("ajax:success", editDetailCallback)
 		.on("ajax:error", errorCallback);

 	$(".create-detail")
 		.on("ajax:success", createDetailCallback)
 		.on("ajax:error", errorCallback);

 	$("#edit_port")
 		.on("ajax:success", editPortCallback)
 		.on("ajax:error", errorCallback);

 	$("#category-id-select").change(function() {
 			if($(this).val() == "-1") {
 				$("#new-category").slideDown();
 			}
 			else {
 				$("#new-category").slideUp();
 			}
 	});

}

function editRouteViewScript() {
	$("#provider-id-select").change(function() {
 			if($(this).val() == "-1") {
 				$("#new-provider").slideDown();
 			}
 			else {
 				$("#new-provider").slideUp();
 			}
 	});

 	$('.day-cb').change(function() {
 		var mask = 1 << $(this).data("off");
 		var curr_days = $("#days").val();
 		
    if(this.checked)
      curr_days = curr_days | mask;
    else
    	curr_days = curr_days & (mask^127);
    $("#days").val(curr_days); 
  });

  var editRouteCallback = function(e, data, status, xhr) {
  	console.log(data);
  }

  var errorCallback = function(e, xhr, status, error) {
		toastr["error"]("There is either connection issues or server issues", "Communication Error");
	};

  $("#edit_route")
 		.on("ajax:success", editRouteCallback)
 		.on("ajax:error", errorCallback);
}

function routesViewScript() {
 var routes_table = $('#points').DataTable({
    "columnDefs": [
      {
          "targets": [ 0 ],
          "visible": false,
          "searchable": true
      },
      {
          "targets": [ 8, 9 ],
          "searchable": false,
          "orderable": false
      }
    ]
  });

 	$(".delete-port").on("ajax:success", 
 		function(e, data, status, xhr) {
 			routes_table.row(function(index, _data) {
 				return (data["route_id"] == _data[0])
 			}).remove().draw(false);

 			toastr.options = {
			  "positionClass": "toast-bottom-right"
			}
 			if(data["result"] == "ok")
 				toastr["success"](data["route"].route_id + " was successfully deleted", "Deletion Successful");
 			else
 				toastr["error"]("Failed to delete " + data["route"].route_id, "Deletion Failed");
 		}
 	).on("ajax:error",
 		function(e, xhr, status, error) {
			toastr.options = {
			  "positionClass": "toast-bottom-right"
			}
 			toastr["error"]("Failed to delete " + data["route"].route_id, "Deletion Failed");
 		}
 	);
}

function homepageScript() {
	$(".main-view").onepage_scroll({
		   sectionContainer: "section", 
		   easing: "ease",       
		   animationTime: 1000,    
		   pagination: true, 
		   loop: true, 
		   keyboard: true, 
		   responsiveFallback: false,  
		   direction: "vertical"  
		});
    
    // var input = $('input[type="text"]');
    // input.attr('size',input.attr('placeholder').length);
}

function ready() {
	if(view == "homepage") {
		homepageScript();
		return;
	}
	
	if(view === "ports") {
		portsViewScript();
		return;
	}

	if(view === "routes") {
		routesViewScript();
		return;
	}

	if(view === "edit_port") {
		editPortViewScript();
		return;
	}

	if(view === "edit_route") {
		editRouteViewScript();
		return;
	}

	if(view === "sign_in") {
		return;
	}
	
	if(view !== "export"){
		compileTemplates();

		mapUI = new MapUI(ports, images, infos);
		mapDisplay = new MapDisplay(ports, mapUI);
		mapUI.setMapDisplay(mapDisplay);
		mapDisplay.hideAllLayers(3);
		mapDisplay.showLayer(1);

		initializeAutocomplete();

		$(".filter-image").click(function(e) {
			var visible = mapDisplay.toggleLayer($(this).data("category"));
			// $(this).toggleClass("gray", !visible);
		});
		
		$("#panel-title").click(function() {
			mapUI.switchView("details");
		});

		$("#routes-options .section-title").click(function(e) {
			$("#routes-options-container").slideUp(400, function(c) {
				$("#routes-options .scroll-container").html("");
			});
			mapUI.showAllRoutes();
		});
	}
	
    $(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	});
}

$(document).ready(ready)
$(document).on('page:load', ready)
