<!DOCTYPE html>
<html>
<head>
  <title>DOTC</title>
  <!--<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script> -->

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_Hn9lkm8OGpMbBwpoEKA1y6P7Mz4l2dQ">
    </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' /> -->
</head>
<body>

<%= yield %>

</body>
</html>
